subject = Le ticket [{{ ticket.name  }}] a été crée ou mis à jours
==
<p>Bonjour {{ user.first_name }} {{ user.last_name }},</p>
<p>Un nouveau ticket à été crée ou mis à jours. <br> Pour acceder à ce ticket, cliquez <a href="{{ url }}">ici</a></p>
<p>Liste des messages :</p>
{% partial 'panel' body %}
    {% for message in ticket.ticket_messages|reverse %}
        <p style="font-size:10px;word-break: normal;"> {{ message.content  | raw | replace({"\n\n": "\n"}) | striptags | nl2br }}</p>
        <hr/>
    {% endfor %}
{% endpartial %}
                    